%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-
%% ex: ts=2 sw=2 ft=erlang et

%% == Erlang Compiler ==
{cover_export_enabled, true}.
{coveralls_coverdata, "_build/test/cover/ct.coverdata"}.
{coveralls_service_name, "travis-ci"}.

%% Erlang compiler options
{erl_opts, [ warn_unused_vars,
             warn_export_all,
             warn_shadow_vars,
             warn_unused_import,
             warn_unused_function,
             warn_bif_clash,
             warn_unused_record,
             warn_deprecated_function,
             warn_obsolete_guard,
             strict_validation,
             warn_export_vars,
             warn_exported_vars,
             warn_missing_spec,
             warn_untyped_record,
             debug_info
           ]}.

%% == Dependencies ==

{deps, [{jiffy,    "1.0.1"},
        {hackney,  "1.15.2"}
       ]}.

%% == Profiles ==

{profiles, [
            {shell, [
                     {deps, [ {sync, "0.1.3"}]}
                    ]},
            {edoc, [
                    {deps, [
                            {edown,
                             {git, "https://github.com/uwiger/edown.git", {tag, "0.7"}}}
                           ]}
                   ]},
            {test, 
             [{plugins, [
                         {coveralls,
                          {git, "https://github.com/markusn/coveralls-erl", {branch, "master"}}}
                        ]}
             ]} 
           ]}.

%% == Plugins ==

{plugins, [rebar3_fmt]}.

%% == EDoc ==

{edoc_opts, [
             {app_default, "http://www.erlang.org/doc/man"},
             {report_missing_types, true},
             {doclet, edown_doclet},
             {stylesheet, ""},
             {image, ""},
             {preprocess, true},
             {todo, true},
             {packages, false},
             {subpackages, true},
             {includes, ["include"]},
             {title, "Upvest"}
            ]}.

%% == Common Test ==

{ct_compile_opts, [ warn_unused_vars
                  , warn_export_all
                  , warn_shadow_vars
                  , warn_unused_import
                  , warn_unused_function
                  , warn_bif_clash
                  , warn_unused_record
                  , warn_deprecated_function
                  , warn_obsolete_guard
                  , strict_validation
                  , warn_export_vars
                  , warn_exported_vars
                  , warn_missing_spec
                  , warn_untyped_record
                  , debug_info
                  , {parse_transform, lager_transform}
                  ]}.

%% == Xref ==

{xref_checks, [
               deprecated_functions,
               deprecated_function_calls,
               locals_not_used,
               undefined_function_calls
              ]}.

%% == Cover ==

{cover_enabled, true}.
{cover_opts, [verbose]}.

{cover_export_enabled, true}.
{coveralls_coverdata, "_build/test/cover/ct.coverdata"}. 
{coveralls_service_name, "travis-ci"}.

%% == Dialyzer ==

{dialyzer, [ {warnings, [ no_return
                        , unmatched_returns
                        , error_handling
                        , unknown
                        ]}
           , {plt_apps, top_level_deps}
           , {plt_extra_apps, []}
           , {plt_location, local}
           , {base_plt_apps, [erts, stdlib, kernel]}
           , {base_plt_location, global}]}.
